/Saved/Config
/Saved/Logs
Saved/Telemetry/Telemetry.json
Saved/Logs/UdemyHybridRPG.log
Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
Saved/Config/CrashReportClient/UECC-Windows-7803E5DE40855C85B1964DA355806DAD/CrashReportClient.ini
Saved/Config/CrashReportClient/UECC-Windows-40A321C2488AD7A4F351A39D98394EBB/CrashReportClient.ini
Saved/Config/CrashReportClient/UECC-Windows-2DA40D6847B98CA597BC429C2FA992D6/CrashReportClient.ini
Intermediate/CachedAssetRegistry_0.bin
